<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form" }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, class:"form-control" %></div>

  <div><%= f.label :firstname %><br />
  <%= f.text_field :firstname, class:"form-control" %></div>

  <div><%= f.label :lastname %><br />
  <%= f.text_field :lastname, class:"form-control" %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, class:"form-control" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class:"form-control" %></div>

  <div><%= f.submit "Sign up", class:"btn btn-default" %></div>
<% end %>

<%= render "devise/shared/links" %>
