<h1>Listing articles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.user.firstname %> <%= article.user.lastname %></td>
        <td><%= link_to 'Show', article, class:"btn btn-default" %></td>
        <% if article.user == current_user %>
          <td><%= link_to 'Edit', edit_article_path(article), class:"btn btn-default" %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        <% else %>
          <td><%= link_to 'Edit', edit_article_path(article), class:"btn btn-default disabled" %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger disabled" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path, class:"btn btn-default" %>
