<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user.firstname %> <%= @article.user.lastname %>
</p>

<%= link_to 'Retour à la liste des articles', articles_path %>

<br /><br />

<% if current_user %>
  <%= form_tag(comment_article_path, method: "post", :html => { :class => "form" }) do %>
  	<%= text_field_tag(:content) %>
  	<%= submit_tag("Commenter") %>
  <% end %>
<% else %>
  <p>Veuillez <%= link_to 'vous connecter', new_user_session_path %> afin de pouvoir commenter</p>
<% end %>

<br />

<% @article.comments.reverse.each do |c| %>
	<%= c.user.firstname %> :<br />
	<%= c.content %><br /><br />
<% end %>
